$black-87-opacity: rgba(black, 0.87);
$white-87-opacity: rgba(white, 0.87);

$mat-oldenburg: (
    50 : #fecb00,
    100 : #c60c30,
    200 : #fdc82f,
    300 : #ffa100,
    400 : #ff7900,
    500 : #d2492a,
    600 : #c60c30,
    700 : #665f00,
    800 : #b3ab59,
    900 : #26c9ff,
    A100 : #91e3ff,
    A200 : #c7d4c3,
    A400 : #94a88d,
    A700 : #3e5237,
    contrast: (
        50 : #000000,
        100 : #ffffff,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);
$mat-oldemain: (
    50 : #fff4e0,
    100 : #ffe3b3,
    200 : #ffd080,
    300 : #ffbd4d,
    400 : #ffaf26,
    500 : #ffa100,
    600 : #ff9900,
    700 : #ff8f00,
    800 : #ff8500,
    900 : #ff7400,
    A100 : #ffffff,
    A200 : #fff7f2,
    A400 : #ffd9bf,
    A700 : #ffc9a6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-mcgpalette0: (
    50 : #fff4e0,
    100 : #ffe3b3,
    200 : #ffd080,
    300 : #ffbd4d,
    400 : #ffaf26,
    500 : #ffa100,
    600 : #ff9900,
    700 : #ff8f00,
    800 : #ff8500,
    900 : #ff7400,
    A100 : #ffffff,
    A200 : #fff7f2,
    A400 : #ffd9bf,
    A700 : #ffc9a6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-oldedark: (
    50 : #edece0,
    100 : #d1cfb3,
    200 : #b3af80,
    300 : #948f4d,
    400 : #7d7726,
    500 : #665f00,
    600 : #5e5700,
    700 : #534d00,
    800 : #494300,
    900 : #383200,
    A100 : #ffed6e,
    A200 : #ffe73b,
    A400 : #ffe008,
    A700 : #eed000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : $white-87-opacity,
        500 : $white-87-opacity,
        600 : $white-87-opacity,
        700 : $white-87-opacity,
        800 : $white-87-opacity,
        900 : $white-87-opacity,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-mcgpalette0: (
    50 : #fff4e0,
    100 : #ffe3b3,
    200 : #ffd080,
    300 : #ffbd4d,
    400 : #ffaf26,
    500 : #ffa100,
    600 : #ff9900,
    700 : #ff8f00,
    800 : #ff8500,
    900 : #ff7400,
    A100 : #ffffff,
    A200 : #fff7f2,
    A400 : #ffd9bf,
    A700 : #ffc9a6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-oldedark: (
    50 : #edece0,
    100 : #d1cfb3,
    200 : #b3af80,
    300 : #948f4d,
    400 : #7d7726,
    500 : #665f00,
    600 : #5e5700,
    700 : #534d00,
    800 : #494300,
    900 : #383200,
    A100 : #ffed6e,
    A200 : #ffe73b,
    A400 : #ffe008,
    A700 : #eed000,
    contrast: (
        50 : $black-87-opacity,
        100 : $black-87-opacity,
        200 : $black-87-opacity,
        300 : $black-87-opacity,
        400 : $white-87-opacity,
        500 : $white-87-opacity,
        600 : $white-87-opacity,
        700 : $white-87-opacity,
        800 : $white-87-opacity,
        900 : $white-87-opacity,
        A100 : $black-87-opacity,
        A200 : $black-87-opacity,
        A400 : $black-87-opacity,
        A700 : $black-87-opacity,
    )
);

$mat-oldedarkelm: (
    50 : #e8eae7,
    100 : #c5cbc3,
    200 : #9fa99b,
    300 : #788673,
    400 : #5b6c55,
    500 : #3e5237,
    600 : #384b31,
    700 : #30412a,
    800 : #283823,
    900 : #1b2816,
    A100 : #93ff6c,
    A200 : #6eff39,
    A400 : #48ff06,
    A700 : #3feb00,
    contrast: (
        50 : $black-87-opacity,
        100 : $black-87-opacity,
        200 : $black-87-opacity,
        300 : $white-87-opacity,
        400 : $white-87-opacity,
        500 : $white-87-opacity,
        600 : $white-87-opacity,
        700 : $white-87-opacity,
        800 : $white-87-opacity,
        900 : $white-87-opacity,
        A100 : $black-87-opacity,
        A200 : $black-87-opacity,
        A400 : $black-87-opacity,
        A700 : $black-87-opacity,
    )
);
